body{
    text-align: center;
}

.form-box{
    display:flex;
    border: 2px solid white;
}

.form-input{
    border: none;
    width: 50%;
    max-width: 600px;
    padding: 10px;
}

.form-button{
    background-color: white;
    border: none;
}